In [1]:
import numpy as np
import pandas as pd

In [3]:
all_ages = pd.read_csv('all-ages.csv')
all_ages.head(5)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [8]:
all_ages_major_categories = all_ages.groupby(['Major_category'])['Total'].sum().to_dict()

In [10]:
recent_grads = pd.read_csv('recent-grads.csv')
recent_grads.head(2)

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50

In [11]:
recent_grads_major_categories = recent_grads.groupby(['Major_category'])['Total'].sum().to_dict()

In [14]:
low_wage_percent = recent_grads['Low_wage_jobs'].sum() / float(recent_grads['Total'].sum())
print(low_wage_percent)

0.0985254607612

In [17]:
recent_grads_unemp_df = recent_grads[['Unemployment_rate', 'Major']]
all_ages_unemp_df = all_ages[['Unemployment_rate', 'Major']]
combined_df = pd.merge(recent_grads_unemp_df, all_ages_unemp_df, on='Major')

In [20]:
combined_df.head()

,Unemployment_rate_x,Major,Unemployment_rate_y
0,0.018381,PETROLEUM ENGINEERING,0.042205
1,0.117241,MINING AND MINERAL ENGINEERING,0.047032
2,0.024096,METALLURGICAL ENGINEERING,0.044873
3,0.050125,NAVAL ARCHITECTURE AND MARINE ENGINEERING,0.040309
4,0.061098,CHEMICAL ENGINEERING,0.046261

In [26]:
combined_df.head()

,Unemployment_rate_x,Major,Unemployment_rate_y,recent_grads_lower_unemp,all_ages_lower_unemp
0,0.018381,PETROLEUM ENGINEERING,0.042205,0,0
1,0.117241,MINING AND MINERAL ENGINEERING,0.047032,0,0
2,0.024096,METALLURGICAL ENGINEERING,0.044873,0,0
3,0.050125,NAVAL ARCHITECTURE AND MARINE ENGINEERING,0.040309,0,0
4,0.061098,CHEMICAL ENGINEERING,0.046261,0,0

In [31]:
combined_df[combined_df['Unemployment_rate_x'] > combined_df['Unemployment_rate_y']].shape[0]

128

In [ ]:
combined_df[combined_df['Unemployment_rate_x'] < combined_df['Unemployment_rate_y']].shape[0]

In [32]:
fandango = pd.read_csv('fandango_score_comparison.csv')
fandango.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [33]:
series_film = fandango['FILM']
series_rt = fandango['RottenTomatoes']

In [34]:
print(series_film[0:5])

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [35]:
print(series_rt[0:5])

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [36]:
from pandas import Series

In [37]:
film_names = series_film.values
rt_scores = series_rt.values